/.idea/
/game-manager
/nextui-game-manager.iml
/game_logs.sqlite
.DS_Store
**/.DS_Store

/resources/fonts/
/*.log
/build/lib/libSDL2_gfx-1.0.so.0
/build/RFDT.pak/resources/lib/libSDL2_gfx-1.0.so.0
/build/RFDT.pak/launch.sh
/build/RFDT.pak/LICENSE
/build/RFDT.pak/pak.json
/build/RFDT.pak/README.md
/build/RFDT.pak/rom-folder
/build/rom-folder
/config.yml
/data/*
/certs/*
/build/*
